services:
    app:
        build:
            context: .
            dockerfile: Dockerfile.develop
        volumes:
            - .:/app
        ports:
            - "3001:3000"
        environment:
            - NODE_ENV=development
        networks:
            - zion-network

networks:
    zion-network:
